@import 'nib/vendor'

vendor-prefixes = o ms moz webkit official

azul = #273B47
azuladg = #09BFF0
azultw = #55ACEE
verde = #7DCD40


*
	margin 0
	padding 0

body
	background azul
	color verde
	font-family Lato,arial;

section
	margin-top 40vh
	text-align center
	h2
	a
		color azultw
		text-decoration none
	article
		background white
		margin 10px 0
		padding 20px
		img
			max-width 250px
		
			