doctype html
html
	head
		meta(charset="UTF-8")
		title Este es un repositorio de prueba @AndresDguez
		link(rel="stylesheet",href="estilos.css")
		link(media="all",href="https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin",rel="stylesheet")

	body
		
		section
			article
				img(src="img/logo.png")
			h1 Esto es un repositorio de prueba para Github
			h2 Por
				a(href="https://twitter.com/AndresDguez")  @AndresDguez
			h3 Correo andres@andresdominguez.mx
			h4 Gracias a 
				a(href="https://twitter.com/GpalacioL") @GpalacioL
				, por tu ayuda, un saludo.


